@theme "catppuccin"

configuration {
	modes: "window,drun,run,ssh,filebrowser";
	font: "FiraCode Nerd Font 14";
	terminal: "kitty";
  separator-style: "none";
  show-icons: true;
  icon-theme: "Papirus";
}
window {
  border-radius: 10px;
  border: 2px;
  padding: 10px;
}
element {
  padding: 8px;
}
